<%= form_for(guardian) do |f| %>
  <% if guardian.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

    <ul>
    <% guardian.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :affilation %><br>
    <%= f.text_field :affilation %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<td><%= link_to 'Back', guardians_path() %></td>
