<p>
All guardians
<td><%= link_to 'New', new_guardian_path() %></td>

</p>

<% @guardian.each do |r| %>
  <tr>
    <td><%= r.name %></td>
    <td><%= r.affilation %></td>
    <td><%= r.phone_number %></td>
    <td><%= r.email %></td>
    <td><%= link_to 'Show', guardian_path(r) %></td>
    <td><%= link_to 'Edit', edit_guardian_path(r) %></td>
    <td><%= link_to 'Destroy', guardian_path(r),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
