<p>
  <strong>Name:</strong>
  <%= @guardian.name %>
</p>
<p>
  <strong>Affilation </strong>
  <%= @guardian.affilation %>
</p>

<p>
  <strong>phone_number</strong>
  <%= @guardian.phone_number %>
</p>

<p>
  <strong>email </strong>
  <%= @guardian.email %>
</p>


<p>
  <td><%= link_to 'Back', guardians_path() %></td>
  <td><%= link_to 'Edit', edit_guardian_path() %></td>
  <td><%= link_to 'Destroy', guardian_path(),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
</p>
