<p>
  <strong>Name:</strong>
  <%= @rally.name %>
</p>
<p>
  <strong>attendees_limit </strong>
  <%= @rally.attendees_limit %>
</p>

<p>
  <strong>start_date</strong>
  <%= @rally.start_date %>
</p>

<p>
  <strong>end_date </strong>
  <%= @rally.end_date %>
</p>


<p>
  <td><%= link_to 'Back', rallies_path() %></td>
  <td><%= link_to 'Edit', edit_rally_path() %></td>
  <td><%= link_to 'Destroy', rally_path(),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
</p>
